*{
  box-sizing: border-box;
}

.image{
  background-repeat: no-repeat;
  opacity: 5;
  background-size: cover;
  position: fixed;
  height: 100;
  width: 100%;
  z-index: -1;
  top: "10%";
  left: 0;
  right:0;
  margin:0 auto;
  border: solid;
}
.box{
  background-color: rgba(0,0,0,.75);
  width: 400px;
  height: 500px;
  padding: 50px;
  position: absolute;
  left: 40%;
  top: 20%;
  
}

.form{
  width: 40px;
  height: 40;
}
.sstyle{
  color: white;
  font-size: 40px;
}
.email{
  width: 80px;
  height: 50px;
 
}
.password{
  height: 50px;
}
.signbotton{
  color: white;
  background-color: red;
  padding: 15px 30px;
  text-align: center;
  display: block;
  width: 300px;
  font-size: 20px;
  font-weight: 1000;
  cursor: pointer;
  border-radius: 4px;
}
.remember{
  color: rgb(205, 218, 218);
 
}

footer{
  background-color: rgba(0,0,0,.75);
  height: 280px;
  padding: 40 50 20 50px;
  position: absolute;
  bottom: -55%;
  width: 100%;
  color: white;
  
}
footer .footer-left-container{
  padding: 15px;
  font-size: 10px;;
  width: 100px;
  background-color: rgba(0,0,0,.75);
  color: white;
 
  
}
.box-bottom{
  display: inline;

}
.dowm{
  color: grey;
  padding: 20 100 50 0px;
}
.footer-up{
  color: grey;
}